/* Login.css */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    width: 400px;
    text-align: center;
    position: relative;
  }
 

  .login-form  .login-form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .login-form  .login-form .controls {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
.radio-option {
    margin-bottom: 15px;
}
.radio-option label {
    margin: 10px 30px;
}

.radio-option label input {
    cursor: pointer;
}
  .login-form  .login-form .controls label {
    font-size: 18px;
    font-weight: bold;
  }
  .login-form  .login-form .controls input {
    padding: 8px;
    border-radius: 5px;
    margin-top: 8px;
  }

  .login-form  .login-form  button {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(21, 140, 244);
    margin-bottom: 5px;
    font-weight: bold;
  }

  .login-form  .login-form  button:hover {
    background-color: rgb(131, 140, 240);
  }


